header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: darkolivegreen;
    font-weight: bolder;
    font-size: larger;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.calc-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid black;
    height: 35rem;
    width: 30rem;
    border-radius: 30px;
    align-content: center;
}

.display {
    margin: 1rem auto 0 auto;
    border: 2px solid black;
    height: 4rem;
    width: 25rem;
    border-radius: 10px;
}

.disp {
    text-align: right;
    margin: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prev-calc {
    color: gray;
    font-size: smaller;
    font-style: italic;
}

.curr-calc {
    font-size: larger;
    font-weight: bolder;
}

.buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

button {
    height: 5rem;
    width: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.clear {
    margin-left: 13rem;
}




